<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="/showdata/update/<%= value._id%>" method="POST">
        <input type="text" value="<%= value.name%>" placeholder="Enter name" name="name">
        <input type="text" value="<%=value.email%>"  placeholder="Enter email" name="email">
        <button>submit</button>
    </form>
</body>
</html>